:root::before {
    content: url('./images/fake-monalisa.gif')
            url('./images/monalisa.jpg');
    position: absolute;
    left: -999vh;
    top: -999vh;
}

html, body {
    margin: 0 ;
    padding: 0;
    width: 100vw;
    height:100vh;
    background: rgb(10,10,10);
    color: lawngreen;
    font-size: 1.1rem;
    font-family: 'Special Elite', cursive;
    background: repeating-linear-gradient(
            to bottom,
            #000,
            rgb(30,30,30) 1px,
            rgb(10,10,10) 2px,
            rgb(10,10,10) 3px
    );
}

input[type='text'] {
    display: none;
    position: absolute;
    top: 25px;
    opacity: 0;
}

#mess-container {
    padding: 1.5rem 0 0 1.5rem;
    display: inline-block;
}

.text-selector {
    margin-top:1.5rem;
    background: lawngreen;
    animation: blink .9s infinite;
    display: inline-block;
}

#code-container {
    word-wrap: break-word;
    margin:10vh 10vw;
}

.monalisa {
    width: 10vw;
    height: auto;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media (max-width: 500px){
    body {
        font-size: .7rem;
    }
}
